@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aside Nav Bar */
.aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background-color: #f0c633;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
}

.aside.active {
    transform: translate(0, 0);
}

.btn-primary {
    @apply w-max bg-red-500 text-white rounded-md p-2 hover:bg-red-700 transition duration-200 ease-in-out active:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-red-200;
}

.btn-secondary{
    @apply w-max bg-primary text-white rounded-md p-2 hover:bg-primary/80 transition duration-200 ease-in-out active:bg-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:ring-offset-primary disabled:opacity-50 disabled:cursor-not-allowed;
}

table {
    @apply border-collapse border border-gray-300 relative z-0;
}

th, td {
    @apply border border-gray-300 p-2;
}

th {
    @apply bg-gray-800;
}

@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
      }
    
      th {
        text-align: center;
      }
    
      th, td {
        border-bottom: none;
      }
    
      td::before {
        /* Add a label for each cell */
        content: attr(data-label);
        font-weight: bold;
        margin-right: 8px;
      }
}